<app-navbar></app-navbar>
			<div class="item">
				
				<img src="../../assets/images/wallpper3.1.png" alt="New york" width="100%" >
			  </div>
				<div class="container">
				<div id="container">
					<div id="headingblock">
					<h2> Selection</h2>	
				</div>
				<!-------1st catbox------>
					<div class="catbox">
					<a href="mens"><img src="assets\Shirt\menss.jpg" alt="equipments" href="mens">
					<span>Mens Wear</span></a>
					</div>
			
					<!-------2nd catbox------>
					
					<div class="catbox">
						<a href="women"><img src="assets\Shirt\ladies.jpg"> 
					<span>Ladies Wear</span></a>
					</div>
					
					<!-------3rd catbox------>
					
					<div class="catbox">
						<a href="kids"><img src="assets\Shirt\baby.jpg" >
					<span>Baby Wear</span></a>
					</div>
						
				
				
				</div>
				</div>