<head></head>
<div *ngIf="!isSignedIn"> 
<body>
  <app-navbar></app-navbar>
  <section >
  <div class="container py-3 h-100"> <!--justyfy form-->
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-1270 col-lg-7 col-xl-7">
        <div class="card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb- pb- pb-md-0 mb-md-5">Registration Form</h3>
            <form [formGroup]="registerForm">

              <div class="row">
                <div class="col-md-6 mb-1">

                  <div class="form-outline">
                    <input type="text" id="firstName"  formControlName="firstName" class="form-control form-control-lg" />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="lastName" formControlName="lastName" class="form-control form-control-lg" />
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="City" formControlName="dob"
                    />
                    <label for="birthdayDate" class="form-label">City</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <h4 class="mb-2 pb-1">Gender: </h4>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"

                      
                      id="femaleGender"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      
                      id="maleGender"
                      value="option2"
                    />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" #emailSignup formControlName="email" class="form-control form-control-lg" />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" formControlName="phone" class="form-control form-control-lg" />
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                  </div>
                  

                </div>
              </div>
              <div class="row">
                <div class="col-md mb-4 pb-2">
                <div class="form-outline">
                  <input type="add" id="address" formControlName="address" class="form-control form-control-lg" />
                  <label class="form-label" for="address">Address</label>
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-1">
                <div class="form-outline">
                  <input type="password" #passwordSignup class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="password" id="confirmpassword" formControlName="cpassword" class="form-control form-control-lg" />
                    <label class="form-label" for="confirmpassword">Confirm Password</label>
                  </div>
                </div>
              </div>

              

              <div class="mt-1 pt-1">
                <button (click)="onSignup(emailSignup.value,passwordSignup.value)" (click)="createuser()" class="btn btn-primary btn-lg">Sign up</button>
              </div> 
              
              
              <p class="text-muted mt-2 mb-0">Have already an account? <a href="login" class="fw-bold text-body"><u>Login here</u></a></p>

              <p class="text-center mt-5 mb-3 text-muted">&copy; Tailor Made SL</p>
<div>
  
</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>