.card-registration{
    background: linear-gradient(to bottom right, rgb(146, 134, 255), rgb(97, 241, 252))
}
body {
    background: url(../../assets/images/register.jpg) fixed;
    background-size: cover;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}


