<app-navbar></app-navbar>

<div id="heading-block" align="center">
    <h2>BABIES WEAR </h2>	
    </div>
    <div class="item">
        <div id="headingblock">
            <h2>PARTY FROCKS </h2>	
          </div>
    <div class="prod-container">
<!------=======1st frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (1).jpg"  >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
    <p>25% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>
<!------=======2nd frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (2).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
    <p>25% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	


<!------=======3rd  frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (3).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				
<!------=======4th frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (4).jpg">
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				

<!------=======5th frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (5).jpg"  >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1500</p>	
    <p>15% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>			

<!------=======6th  frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (6).jpg">
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				
    

<!------=======7th  frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (7).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
    <p>50% OFF</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>						

<!------=======8th frock===========--->	
    <div class="prod-box">
    <img src="assets\BabyDress\baby (8).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>30% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							

     <!------=======9th frock===========--->	
     <div class="prod-box">
        <img src="assets\BabyDress\baby (10).jpg" >
        <div class="prod-trans">
        <div class="prod-feature">
        <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
        <p>10% OFF	</p>
        <input type="button" value="ORDER NOW">
        </div>
        </div>
        </div>							
 <!------=======10th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (11).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>30% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======11th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (12).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======12th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (13).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======13th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (14).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======14th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (15).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======15th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (16).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>40% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======16th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (17).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>10% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======17th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (18).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======18th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (19).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======19th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (20).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>10% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======20th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (21).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>60% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======21th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (22).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>40% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======22th frock===========--->		
 <div class="prod-box">
    <img src="assets\BabyDress\baby (23).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======23th frock===========--->		
 <div class="prod-box">
    <img src="assets\BabyDress\baby (24).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======24th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (25).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======25th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (26).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======26th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (27).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======27th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (28).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>		
    <!------=======28th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (29).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======29th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (30).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======30th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (31).png" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======31th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (32).webp" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	
    <!------=======32th frock===========--->	
 <div class="prod-box">
    <img src="assets\BabyDress\baby (9).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	

    </div>
