 <app-navbar></app-navbar>
 
 <div id="heading-block" align="center">
    <h2>LADIES WEAR </h2>	
    </div>
    <div class="item">
        <div id="headingblock">
            <h2>Casual Blouses </h2>	
          </div>
    <div class="prod-container">
<!------=======1st Top===========--->	
    <div class="prod-box">
    <img src="assets\Blouses\top1 (1).jpg"  >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
    <p>25% OFF	</p>
    <a href="newc">  <input type="button" value="ORDER NOW"></a>
    </div>
    </div>
    </div>
<!------=======2nd Top===========--->			
    <div class="prod-box">
    <img src="assets\Blouses\top1 (1).webp" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
    <p>25% OFF	</p>
    <a href="newc">  <input type="button" value="ORDER NOW"></a>
    </div>
    </div>
    </div>	


<!------=======3rd  Top===========--->	
    <div class="prod-box">
    <img src="assets\Blouses\top1 (3).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>5% OFF	</p>
    <a href="newc">  <input type="button" value="ORDER NOW"></a>
    </div>
    </div>
    </div>				
<!------=======4th Top===========--->	
    <div class="prod-box">
    <img src="assets\Blouses\top1 (9).jpg">
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				

<!------=======5th Top===========--->	
    <div class="prod-box">
    <img src="assets\Blouses\top1 (5).jpg"  >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1500</p>	
    <p>15% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>			

<!------=======6th  Top===========--->		
    <div class="prod-box">
    <img src="assets\Blouses\top1 (6).jpg">
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				
    

<!------=======7th  Top===========--->	
    <div class="prod-box">
    <img src="assets\Blouses\top1 (7).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
    <p>50% OFF</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>						

<!------=======8th Top===========--->	
    <div class="prod-box">
    <img src="assets\Blouses\top1 (8).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>30% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							

     <!------=======9th Top===========--->		
     <div class="prod-box">
        <img src="assets\Blouses\top1 (10).jpg" >
        <div class="prod-trans">
        <div class="prod-feature">
        <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
        <p>10% OFF	</p>
        <input type="button" value="ORDER NOW">
        </div>
        </div>
        </div>							
 <!------=======10th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (11).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>30% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======11th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (12).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======12th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (13).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======13th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (14).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======14th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (15).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======15th Top===========--->		
 <div class="prod-box">
    <img src="assets\Blouses\top1 (16).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>40% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======16th Top===========--->		
 <div class="prod-box">
    <img src="assets\Blouses\top1 (17).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>10% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======17th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (18).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======18th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (19).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======19th Top===========--->		
 <div class="prod-box">
    <img src="assets\Blouses\top1 (20).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>10% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======20th Top===========--->	
 <div class="prod-box">
    <img src="assets\Blouses\top1 (21).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>60% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======21th Top===========--->		
 <div class="prod-box">
    <img src="assets\Blouses\top1 (22).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>40% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======22th Top===========--->			
 <div class="prod-box">
    <img src="assets\Blouses\top1 (23).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======23th Top===========--->			
 <div class="prod-box">
    <img src="assets\Blouses\top1 (24).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======24th Top===========--->		
 <div class="prod-box">
    <img src="assets\Blouses\top1 (2).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
<br>
<br>
    <div class="item">
        <div id="headingblock">
            <h2>DRESSES</h2>	
          </div>
    <div class="prod-container">
<!------=======1st dress===========--->		
    <div class="prod-box">
    <img src="assets\Dresses\dress (1).jpg"  >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
    <p>25% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>
<!------=======2nd  dress===========--->	
    <div class="prod-box">
    <img src="assets\Dresses\dress (2).jpeg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
    <p>25% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>	


<!------=======3rd  dress===========--->	
    <div class="prod-box">
    <img src="assets\Dresses\dress (23).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				
<!------=======4th dress===========--->	
    <div class="prod-box">
    <img src="assets\Dresses\dress (9).jpg">
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				

<!------=======5th dress===========--->	
    <div class="prod-box">
    <img src="assets\Dresses\dress (5).jpg"  >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1500</p>	
    <p>15% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>			

<!------=======6th  dress===========--->		
    <div class="prod-box">
    <img src="assets\Dresses\dress (6).jpg">
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
    <p>5% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>				
    

<!------=======7th dress===========--->	
    <div class="prod-box">
    <img src="assets\Dresses\dress (24).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
    <p>50% OFF</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>						

<!------=======8th dress===========--->	
    <div class="prod-box">
    <img src="assets\Dresses\dress (8).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>30% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							

     <!------=======9th dress===========--->	
     <div class="prod-box">
        <img src="assets\Dresses\dress (10).jpg" >
        <div class="prod-trans">
        <div class="prod-feature">
        <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
        <p>10% OFF	</p>
        <input type="button" value="ORDER NOW">
        </div>
        </div>
        </div>							
 <!------=======10th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (11).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>30% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======11th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (12).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======12th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (13).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======13th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (14).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======14th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (15).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======15th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (16).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>40% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======16th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (23).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>10% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======17th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (18).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======18th dress===========--->			
 <div class="prod-box">
    <img src="assets\Dresses\dress (19).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1700</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======19th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (20).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
    <p>10% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======20th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (21).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>60% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======21th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (22).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
    <p>40% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======22th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (9).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
    <p>50% OFF	</p>
     <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======23th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (24).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
    <p>20% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							
 <!------=======24th dress===========--->	
 <div class="prod-box">
    <img src="assets\Dresses\dress (2).jpg" >
    <div class="prod-trans">
    <div class="prod-feature">
    <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
    <p>50% OFF	</p>
    <input type="button" value="ORDER NOW">
    </div>
    </div>
    </div>							

    
    
</div>





