<app-navbar></app-navbar>

			<div id="heading-block" align="center">
                <h2>MENS WEAR </h2>	
                </div>
                <div class="item">
                    <div id="headingblock">
                        <h2>SHIRTS</h2>	
                      </div>
                <div class="prod-container">
                  <form [formGroup]="menaddop">
        <!------=======1st Shirt===========--->		
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (1).jpeg"  >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
                <p>25% OFF	</p>
                <!-- <a href="confirm"><button type="button"></button></a> -->
                <input type="button" formControlName="Shirt01"(click)="menadd()" value="ORDER NOW">
                </div>
                </div>
                </div>
               </form>
        <!------=======2nd  Shirt===========--->		
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (1).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
                <p>25% OFF	</p>
                <a href="newc"> <input type="button" formControlName="Shirt02" (click)="menadd()"  value="ORDER NOW"></a>
                </div>
                </div>
                </div>	
            
            
    <!------=======3rd  Shirt===========--->		
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (3).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
                <p>5% OFF	</p>
                <input type="button"formControlName="Shirt03" value="ORDER NOW">
                </div>
                </div>
                </div>				
    <!------=======4th Shirt===========--->			
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (9).jpg">
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
                <p>5% OFF	</p>
                <input type="button" formControlName="Shirt04" value="ORDER NOW">
                </div>
                </div>
                </div>				
            
    <!------=======5th Shirt===========--->			
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (5).jpg"  >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 1500</p>	
                <p>15% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>			
            
        <!------=======6th  Shirt===========--->			
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (6).jpg">
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
                <p>5% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>				
                
            
        <!------=======7th  Shirt===========--->		
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (7).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
                <p>50% OFF</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>						
            
        <!------=======8th Shirt===========--->		
                <div class="prod-box">
                <img src="assets\Shirt\shirt1 (8).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>30% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
            
                 <!------=======9th Shirt===========--->		
                 <div class="prod-box">
                    <img src="assets\Shirt\shirt1 (10).jpg" >
                    <div class="prod-trans">
                    <div class="prod-feature">
                    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
                    <p>10% OFF	</p>
                    <input type="button" value="ORDER NOW">
                    </div>
                    </div>
                    </div>							
             <!------=======10th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (11).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>30% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======11th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (12).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======12th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (13).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
                <p>20% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======13th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (14).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======14th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (15).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======15th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (16).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
                <p>40% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======16th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (17).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>10% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======17th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (18).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
                <p>20% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======18th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (19).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 1700</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======19th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (20).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
                <p>10% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======20th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (21).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>60% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======21th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (22).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
                <p>40% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======22th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (23).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======23th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (24).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
                <p>20% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======24th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Shirt\shirt1 (2).jpeg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>
                 							
            
                <div class="item">
                    <div id="headingblock">
                        <h2>TROUSERS</h2>	
                      </div>
                <div class="prod-container">
        <!------=======1st trouser===========--->		
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (1).jpeg"  >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
                <p>25% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>
        <!------=======2nd  trouser===========--->	
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (1).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
                <p>25% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>	
            
            
    <!------=======3rd  trouser===========--->		
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (1).png" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
                <p>5% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>				
    <!------=======4th trouser===========--->	
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (9).jpg">
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
                <p>5% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>				
            
    <!------=======5th trouser===========--->		
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (5).jpg"  >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 1500</p>	
                <p>15% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>			
            
        <!------=======6th  trouser===========--->			
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (6).jpg">
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2500</p>	
                <p>5% OFF	</p>  
                 <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>				
                
            
        <!------=======7th  trouser===========--->	
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (7).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2000</p>	
                <p>50% OFF</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>						
            
        <!------=======8th trouser===========--->	
                <div class="prod-box">
                <img src="assets\Trousers\trouser1 (8).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>30% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
            
                 <!------=======9th trouser===========--->	
                 <div class="prod-box">
                    <img src="assets\Trousers\trouser1 (10).jpg" >
                    <div class="prod-trans">
                    <div class="prod-feature">
                    <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
                    <p>10% OFF	</p>
                    <input type="button" value="ORDER NOW">
                    </div>
                    </div>
                    </div>							
             <!------=======10th trouser===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (11).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>30% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======11th trouser===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (12).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======12th trouser===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (13).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
                <p>20% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======13th trouser===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (14).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======14th trouser===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (15).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======15th trouser===========--->	
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (16).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
                <p>40% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======16th trouser===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (25).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>10% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======17th trouser===========--->	
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (18).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2800</p>	
                <p>20% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======18th trouser===========--->			
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (19).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 1700</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======19th trouser===========--->	
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (20).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2300</p>	
                <p>10% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======20th trouser===========--->	
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (21).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>60% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======21th trouser===========--->	
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (22).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2100</p>	
                <p>40% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======22th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (23).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2700</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======23th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (24).jpg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 2900</p>	
                <p>20% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
                </div>							
             <!------=======24th Shirt===========--->		
             <div class="prod-box">
                <img src="assets\Trousers\trouser1 (2).jpeg" >
                <div class="prod-trans">
                <div class="prod-feature">
                <p style="color: beige;font-weight: bold;">Price:LKR 1900</p>	
                <p>50% OFF	</p>
                <input type="button" value="ORDER NOW">
                </div>
                </div>
               
               
               </div>							
               
               
               </div>
                
            </div>
         
   
            
            
            