<head></head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<section>
    <div class="row">
		
    </div>
	<div class="row1">
		<div class="col-md-10 justify-content-center -100">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> Admin Pannel</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
						<div class="row d-flex justify-content-center mt-100">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-header-left">
                                            <h3 class="text-center"><b>Products</b></h3>
                                        </div>
                                    </div>
                                    <div class="card-block text-center"> <a href="adminadd"><button class="btn btn-out-dashed btn-primary btn-square">Add Product</button></a>
                                       
                                        <a href="adminadd"> <button class="btn btn-out-dashed btn-success btn-square">Updat Product</button></a>
                                        <a href="adminadd">  <button class="btn btn-out-dashed btn-info btn-square">Delete Product</button> </a>
                                        </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-100">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-header-left">
                                            <h3 class="text-center"><b>Orders</b></h3>
                                        </div>
                                    </div>
                                    <div class="card-block text-center"><a href="adminadd"> <button class="btn btn-out-dashed btn-primary btn-square">Add Order</button> <button class="btn btn-out-dashed btn-success btn-square">Delete Order</button></a> <button class="btn btn-out-dashed btn-info btn-square">Update Order</button> <button class="btn btn-out-dashed btn-warning btn-square">Finish Order</button>  </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</section>
</div>
</body>